.card {
  background: white;
  color: #D23333;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
}
.card li {
  color: #469AE0;
}
.card a {
  color: white;
}
.card img {
  margin-bottom: 20px;
}


.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-form {
  padding: 20px 150px;
}
.card-cocktail {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 10px;
}
.card-cocktail a:hover {
  color: #d23333;
  text-decoration: none;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.card-title {
  border-bottom: 30px;
}
